.header-row {
  background-color: #a4c158;
  margin: 20px 0;
  padding: 12px;
  line-height: 33px;
}

.mark-filter {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  background-color: white !important;
  color: #96CA4E!important;
  align-items: center;
  padding: .375rem .75rem;
  font-size: 20px;
}

.my-group .form-control {
  width: 25%;
}

/* .header-title {
  font-weight: 500;
  color: white;
  font-size: 20px;
} */

.market-card {
  box-shadow: 0 4px 8px 0 rgba(83, 83, 83, 0.14);
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #d2d2d2;
}
.marginTop{
  margin-top:20px;
   margin-right: 0px;
    margin-left: 0px;
}
.market-popup{
  color:  #4f5671!important;
}
.market-popup .popupTable  thead tr{
  color:  #96ca4e!important;
  font-weight: bold!important;
}
.market-popup .popupTable  tbody tr td{
  color:  #4f5671!important;
}
/* .modal-content{
  color:  #4f5671!important;
} */

.mark_filter_style
{
  border-top-left-radius: 5px!important;
    border-bottom-left-radius: 5px!important;
    background-color: white!important; 
    color: #a4c158!important;
  }
  .DP-select{
    border-top-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
  }

.card-text{
  display:block;
  height:61px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}


.DP img{
  display: inline-block
}

.tab-card {
border:1px solid #eee;
}

.tab-card-header {
background:none;
text-align: center!important;
}

.tab-card-header{
margin-right: 2px;
}
.tab-card-header > a {
border: 0;
border-bottom:2px solid transparent;
margin-right: 0;
color: #737373;
padding: 2px 15px;
}
.tab-card-header > .tab-content {
padding-bottom: 0;
}

.btn-center{
  background: #96ca4e;
  color: rgb(255, 255, 255);
  width: auto;
  margin-top: 7px;
}
.hover-change-items{  
  text-align:right;
 /*  margin-top: 20px; */
 /*  border-top: 1px solid #dee2e6; */
  padding-top: 10px;
  height:50px;
}

.btn-center:hover{
background: #69a72d;
color:white;
}
.card-reaction:hover{
-webkit-box-shadow: 0px 0px 31px 1px rgba(158,150,158,1);
-moz-box-shadow: 0px 0px 31px 1px rgba(158,150,158,1);
box-shadow: 0px 0px 31px 1px rgba(158,150,158,1);
}

.panel:hover .red{
  color:#96ca4e;
}

.purchased-btn{background-color: #424143;}
.purchased-btn:hover{
 background-color:#c72843;
 color:white;
}
.panel:hover .green{
  color: #c72843;
}

.fill-tick{font-size: larger;}
/* .outline-tick{
  font-size: -webkit-xxx-large;
} */
/* .buy-btn{ 
  display: none;
  } */
  .panel:hover .buy-btn{
  display : inline-block;
  }
  .panel:hover .price{
  display : none;
  }

  /* .purchased-btn{ 
    display: none;
    } */
    .purchased-btn{
    display : inline-block;
    }

.click-more{
  float: right;
  cursor: pointer;
  font-size: 10px;
}
.modal-footer {
  
  display: -ms-flexbox;
  display: flex;
  /* display: inline; */
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: center;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem;
}

.modal-header {
  text-align: center;
}
#thanksModal .modal-header h2{
  color: #767684;
  text-align: center;
  }

.modal-header p{
  color: #767684;
  text-align: left;
}

.card-desc{
	
 	min-height: auto;
	/* max-height: 150px; */
    overflow: auto;
    /* border: 1px solid #e6e1e1; */
    padding: 10px 0 10px 0;
    font-size: 13px;
    border-radius: 5px;
    /* background-color:#f8f1e3; */
}
.border-class{
	border: 1px solid white;
	-webkit-box-shadow:none;
	box-shadow: none;
}
.form-control:focus{
  -webkit-box-shadow:none;
  box-shadow:none;
}


