@media screen and (max-width: 767px){
    .hide-btn,.leftPans,.top-right-icons{
        display: none !important;
    }
}
.mobile-menu{
  display: none !important;
}
.web-logo{
          display: inline-block;
        }
        .mob-logo{
            display: none;
        }

        @media only screen and (max-width: 767px) {
          .mob-logo{  display:inline-block!important;}
          .web-logo{ display: none!important;} 
          .mobile-menu{
            display:inline-block!important;
          }
}