.searchPage{
	min-height: 600px;
	/* background-color: #dedfde; */
	
	background-repeat: repeat-x;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.searcBx{
	height:250px;
	/*border:1px solid #ccc;*/
	margin-top: 8em;
	border-radius: 4px;
	/*background-color: #fff;*/
	/*box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);*/
}

.searcBxQuery{
	margin-top: 10.2em;
	padding-left: 0!important;
}

.searcBx img{
	width: 250px;
	margin:0px auto;
	display: block;
}
.searcBx h1{
	text-align: center;
	font-size: 24px;
	margin:30px 0px 15px;
	font-weight: bold;
	text-transform: uppercase;
}
.search_panel{
	/* width: 105%; */
	height:100px;
	/*border-radius: 50px;
	 background-color: #bc0000; */
	margin:0px auto;
}
.search_inpt{
	height:50px;
	border: 1px solid #ccc;
    border-radius: 5px;
	margin:0px auto;
	/* box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12); */
}
.search_inpt input{
	width: 94%;
	height:100%;
	border:none;
	background-color: transparent;
	float: left;
	text-indent:20px;
	font-size: 18px;
	color:#80868b;
	
}
.search_inpt input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaa;
    opacity: 0.8; /* Firefox */
}

.search_inpt input::-ms-input-placeholder { /* Internet Explorer 10-11 */
     color: #aaa;
}

.search_inpt input::-ms-input-placeholder { /* Microsoft Edge */
     color: #aaa;
}
.search_inpt button{
	background: transparent;
    border: none;
    width: 6%;
    padding: 10px;
    height: 100%;
    color: #6c9d29;
    font-size: 18px;
}
button.searcBtn{
	padding:7px 30px;
	background-color : #fff;
	border:none;
	border-radius : 30px;
	color: #a4c158;
	margin :30px auto;
	display:block;
}
.searchResult .dashLogo{
	float: left;
}
.searchResult{
	padding: 1em 0px;
}
.searhcLis{
	min-height: 550px;
}
.search_Lis{
	width: 550px;
    height: 40px;
    float: left;
    border: 1px solid #ccc;
    margin-top: 6px;
}
.search_Lis input{
	width: 75%;
	height: 100%;
	background-color: transparent;
	float: left;
	border:none;
	text-indent: 10px;
}
.search_Lis button{
	width: 25%;
	height: 100%;
	background-color: #a4c158;
	float: left;
	color:#fff;
	border:none;
	text-transform: uppercase;
	font-size: 15px;
}
.sear_res{
	padding: 5em 0px 0px;
}
.resul_bx{
	min-height : 100px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
	margin:12px 0px;
}
.resul_bx h3{
	font-size: 18px;
	color: #bc0000;
	margin-top: 0px;
	margin-bottom: 3px;
}
.resul_bx p.link{
	text-decoration : underline;
	cursor: pointer;
	margin:0px;
}
.resul_bx p.desc{
	margin:0px;
	max-height : 200px;
	overflow : hidden;
}
p.resul_Cnt span{
	color: #800000;
	font-weight: 600;
}
/* .sear_res ul.pagination{
	float:right;
	margin:10px auto;
}
.sear_res ul.pagination a{
	color : #333;
}

.sear_res ul.pagination li.pagi_cnt{
	float :left;
	line-height: 36px;
	margin-right: 15px;
	border: 1px solid #dddddd;
    padding: 3px;
} */

      /*  PAGE PROFILER  */
.pageSearchBx {
 margin : 0px auto;
 float: none;
 width: 550px;
 height: 50px;
 border-width: 1px;
}        
.pageSearchBx input{
 border-radius: 0px 30px 30px 0px;
 width: 80%;
}
.pageSearchBx button{
 border-radius: 0px 30px 30px 0px;
 width: 20%;
 text-align: right;
 padding: 10px;
}
.sear_res h4.resul_Cnt{
/*  text-transform: uppercase; */
 font-size: 18px;
 letter-spacing: 2px;
 width: 60%;
    margin-left: 26%;
}

table.pageProf thead th, table.pageProf tr td {
	padding : 0px 10px;
}

span i.fa-info-circle {
    font-size: 18px;
	color: #6c9d29;
	padding: 5px;
}

.queryHelp{
	color: #bcbcbc;
	font-size: 17px;
	margin-left: 4px;
}

.queryHelp a:hover {
	text-decoration: none;
}
