.price-btn-hover:hover{
  cursor: default;
  color: rgb(84, 80, 86);
  background-color: white;
}
.price-btn-hover{
  background-color: white;
}
.contract-table table{
  color: rgb(84, 80, 86);
}
.contract-table table thead{
  cursor: default;
}
.contract-table table tbody tr:hover{
  -webkit-box-shadow: 0px 3px 5px -1px rgba(176,170,176,1);
  -moz-box-shadow: 0px 3px 5px -1px rgba(176,170,176,1);
  box-shadow: 0px 3px 5px -1px rgba(176,170,176,1);
  cursor: pointer;
  }

  .border-box-table
  {
    margin-top: -5px;
-webkit-box-shadow: 0px 5px 5px -4px rgba(135,135,135,1);
-moz-box-shadow: 0px 5px 5px -4px rgba(135,135,135,1);
box-shadow: 0px 5px 5px -4px rgba(135,135,135,1);
  }
.border-box{
  /* border-left: 1px solid #cccddd;
  border-right: 1px solid #cccddd; */
 
}

.contract-table table td a:hover{
  text-decoration: underline;
  font-weight: bold;
}
/* CONTRACT DETAILS PAGE STYLS */

.chat-part{
/* border-top: 1px solid #cccddd; */
  border-right: 1px solid #cccddd;
 padding-bottom: 10px;
 padding-right: 30px;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#f6f6f6; 
  border-radius:5px
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f6f6f6;  
    border-radius:5px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f6f6f6;
}
.row-left-right-margin{
    margin-left: 1px;
    margin-right: 1px;
  /*   border-bottom: 1px solid #cccddd; */
    padding-left: 20px;
    padding-right: 20px;    
}
.top-msg-part{
  border-bottom:  1px solid #cccddd;}
.space-bwn{
  padding-top: 10px;}

.history-part{
 	/* border-top:1px solid #cccddd; */
  /* padding-bottom: 10px; */
  /* height: 435px; */
  /* height: 372px; */
   overflow-y: auto;
  overflow-x:hidden;
  height: 403px !important;
}

/* Filtered */
.outgoing_msg
{ overflow:hidden;
  margin: 0px 0px 10px 0px;}
.sent_msg p {
  /* background: rgb(84, 80, 86) none repeat scroll 0 0; */
  border-radius: 3px;
  font-size: 14px;
  margin: 0; 
  color:rgb(84, 80, 86);
  padding: 5px 10px 5px 12px;
  border: 1px solid #fff;
  background-color:  #fff;
  min-height:40px;
  width:100%;
  border-bottom-right-radius: 10px;
 border-bottom-left-radius: 10px;
}
.sent_msg span{
	margin-left: 15px;
	font-weight: bold;
}

.profile-style{
  padding: 12px;
  text-align: center;
  min-width: 30px;
  background-color: #d29a61;
  border-radius: 50%;  
  position: absolute;
left: 5px;  
color: white;
margin-top:10px;
}

.profile-style_admin{
    padding: 7px;
    text-align: center;
    min-width:36px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    color: white;
    border: 1px solid #4CAF50;
    margin-top:10px;
}

.profile-style-outgoing{
text-align: center;
min-width: 30px;
padding: 12px;
background-color:#686e9a;
border-radius: 50%;
position: absolute;
right: 5px;  
color: white;
margin-top:10px;
}

.profile-style-outgoing_admin{
  text-align: center;
  padding: 10px;
  background-color: #b8cfe2;
  border-radius: 50%;
position: absolute;
right: 5px;  
color: white;
}

.sent_msg {
  float: right;
  width: 80%;
  margin-right: 32px;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 10px;
  padding: 5px;
}

.price_status {
  color: #747474;
  display: block;
  font-size: 10px;
  padding-left: 12px;

}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  vertical-align: top;
  width: 92%;
 }
 
 .received_msg_admin {
  display: inline-block;
  vertical-align: top;
  /* width: 92%; */
 }

 .received_withd_msg p {
  /* background: #e1efd0b0 none repeat scroll 0 0; */
  border-radius: 3px;
  color: Green;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
  min-height:40px;
 border-bottom-right-radius: 10px!important;
 border-bottom-left-radius: 10px!important;
}

.received_withd_msg
 {
 	width: 90%;
  	margin-left: 32px;
   	min-height:10px;}   
   
   .received_withd_msg span{
   margin-left: 10px!important;
   font-weight:bold!important;
    }
    
    .received_withd_msg td{
     margin-left: 10px!important;
 
    }
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}
.StepProgress span{
  color: #b0b6bc;
  font-size: 10px;
}
.status p{
  padding-bottom: 0!important;
  margin-bottom: 0!important;
}
